html {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 70%;
  scroll-snap-align: start;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 100%;
  /* overflow-y: scroll; */
}

.font_open_sans {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 25px;
}

h1 {
  font-size: 30px;
}

.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

#skills {
  max-width: 5000px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

#skills::-webkit-scrollbar {
  display: none;
}

.photobanner {
  padding-left: 100%;
  gap: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 30s linear infinite;
}

.photobanner img {
  margin: 0 0.5em
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

#skills:hover {
  overflow: auto;
}

#skills:hover .photobanner {
  animation-play-state: paused;
}

.snoopy {
  height: 300px;
  /* padding: 10px; */
}

.heading_bar {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.contacts {
  display: flex;
}

.linkedin {
  height: 45px;
  width: 45px;
  background-image: url("pictures/in_regular.png");
  background-size: contain;
}

.linkedin:hover {
  background-image: url("pictures/in_hover.png");
}

.email_to {
  height: 45px;
  width: 60px;
  background-image: url("pictures/email_regular.png");
  background-size: contain;
}

.email_to:hover {
  background-image: url("pictures/email_hover.png");
}

.folders {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  column-gap: 0px;
}

.folder {
  height: 228.75px;
  width: 300px;
  margin-top: 50px;
  filter: drop-shadow(5px 5px 5px #999898);
}

.braille {
  background-image: url("pictures/braille_translator_folder.png");
  background-size: contain;
  transform: rotate(-5deg);

}

.braille:hover {
  transform: rotate(0deg);
}

.ai_slang {
  background-image: url("pictures/ai_slang_folder.png");
  background-size: contain;
  transform: rotate(5deg);
}

.ai_slang:hover {
  transform: rotate(0deg);
}

.classmate_app {
  background-image: url("pictures/classmate_app_folder.png");
  background-size: contain;
  transform: rotate(-5deg);
}

.classmate_app:hover {
  transform: rotate(0deg);
}

.poker_game {
  background-image: url("pictures/poker_game_folder.png");
  background-size: contain;
  transform: rotate(5deg);
}

.poker_game:hover {
  transform: rotate(0deg);
}

.studybearai {
  background-image: url("pictures/study_bear_folder.png");
  background-size: contain;
  transform: rotate(-5deg);
}

.studybearai:hover {
  transform: rotate(0deg);
}

.movie_app {
  background-image: url("pictures/movie_app_folder.png");
  background-size: contain;
  transform: rotate(5deg);
}

.movie_app:hover {
  transform: rotate(0deg);
}